body {
	max-width: 100%;
	margin: 0;
	padding: 0;
}
.wrapper {
	padding-top: 1em;
}
.thumbnail-wrapper {
	text-align: center;
}
img.thumb:hover {
	opacity: 0.4;
}
img.thumb {
	border: 5px;
}
#display {
	width: 80%;
	float: left;
	padding: 0 20%;
}
img#cover {
	max-width: 40%;
}