doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/style.css', type='text/css')
		script(src="https://code.jquery.com/jquery-2.2.0.min.js")
		script(src="script.js")
	body
		div.wrapper
			div.thumbnail-wrapper
				img.thumbnail(src='1thumb.jpeg')
				img.thumbnail(src='2thumb.jpeg')
				img.thumbnail(src='3thumb.jpeg')
		div.display
			
