doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/style.css', type='text/css')
		script(src="https://code.jquery.com/jquery-2.2.0.min.js")
		script(src="script.js")
	body
		h1 Welcome to Our Bookstore
		div.wrapper
			div.thumbnail-wrapper
			each book in books
				img.thumb(src=book.thumbnail, title=book.title)
		div#display
			h2#title
			p#author
			p#description
			img#cover